venv/
.venv/
src/frontend/node_modules/
.env
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/

# Open-Detective Data Artifacts
open_detective.db
data/mysql/
data/postgresql/
data/sqlbot/
dist/